<!-- <button #square class="wrapper bg-stone-500 hover:bg-stone-400 
 border-stone-400 border-2 align-middle justify-center w-full h-full 
 text-9xl rounded-lg text-neutral-700">
    <h1 class="gradient">
        {{ value }}
    </h1>
</button> -->

<button #square class="card wrapper bg-stone-500 hover:bg-stone-400 
border-stone-400 border-2 align-middle justify-center w-full h-full 
text-9xl rounded-lg text-neutral-700" (click)="flip()">
    <div id="front" class="card-side front ">
        <h1 class="gradient">
            {{ value }}
        </h1>
    </div>
    <div id="back" class="card-side back ">
        <h1 class="gradient">
            {{ value }}
        </h1>
    </div>
</button>
