.wrapper {
    text-align: center;
    box-shadow: 4px 3px 2px #333;
    overflow: hidden;
  }

  .gradient {
    color: transparent;
    text-transform: uppercase;
    font-size: 200px;
    font-weight: 200;
    font-family: "Josefin Sans", sans-serif;
    background: linear-gradient(to right,#024075 10%, #25abe8 40%, #bfc47e 60%, #024075 80%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    animation: textclip 3s linear infinite;
    // display: inline-block;
    text-shadow: 1px 1px 2px rgba(255,255,255,0.5);
  }

  .normal
  {
    font-weight: 200;
    font-size: 200px;
    font-family: Josefin Sans, sans-serif;
    text-shadow: 1px 1px 2px rgba(255,255,255,0.5);
    background-color: rgb(64, 64, 64);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

  .card {
    perspective: 150rem;
    box-shadow: none;
  }
  
  .card-side {
    transition: all 0.8s ease;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .card-side.back {
    transform: rotateY(-180deg);
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%,#C850C0 46%, #FFCC70 100%);
  }
  
  .card-side.front {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  }